.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em 1em;
  margin-bottom: 2em;
  width: 23%;
  border-radius: 1.5em;
  border: 2px solid #E33D33;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
  background-color: #333;
  color: #fff;
}

.card_id {
  margin: 1em 0;
  background-color: #E33D33;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_title {
  text-transform: capitalize;
  margin-bottom: 1em;
  font-size: 1.4em;
}

.card_btn {
  text-decoration: none;
  background-color: #fff;
  color: #222;
  padding: .7em 1.2em;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.4s;
  box-shadow: 2px 2px 0 #E33D33;
}

.card_btn:hover{
  background: #E33D33;
  color: #fff;
  box-shadow: 2px 2px 0 #fff;
}


@media only screen and (max-width: 1200px) {
  .card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    width: 25vw;
  }
}

@media only screen and (max-width: 1000px) {
  .card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    width: 30vw;
  }
}

@media only screen and (max-width: 800px) {
  .card {
    margin: 0 auto;
    margin-bottom: 1em;
    width: 30vw;
  }
}

@media only screen and (max-width: 600px) {
  .card {
    margin: 0 auto;
    margin-bottom: 1em;
    width: 60vw;
  }
}

